<<<<<<< HEAD
.contact {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
=======
.contact {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
>>>>>>> c6d68d36fa4cbec1158409ba63957665446eff27
